<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GermoBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GermoBank.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilo_css.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/buscador_familia.css" />
    <link rel="stylesheet" href="~/js/nuevo.js" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
          rel="stylesheet" />


</head>
<body>

    <div id="mySidenav" class="sidenav">
        <ul>
            <li class="nav-item" style="display: flex; align-items:left;">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <span style="font-size: 20px; font-family: Days One; color:white;mix-blend-mode: normal; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);align-items: left;">GERMOBANK</span>
                        <span style="font-size: 20px; font-family: Days One; color:white;mix-blend-mode: normal; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);align-items: cebter;">UTN</span>
                    </div>

                </a>

            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">

                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;">ACCESIONES ↓</span>
                </a>
                <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link "> <span class="d-none d-sm-inline" style="font-size: 16px; text-align: center;">Buscar</span>  </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accesion01" asp-action="Index">Agregar Accesion</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link carro">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;">TAXONOMIA↓</span>
                </a>
                <ul class="collapse  nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a class="nav-link text-dark" asp-area="" asp-controller="FamiliasTbs" asp-action="Index">Familia</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="GenerosTbs" asp-action="Index">Genero</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="EspeciesTbs" asp-action="Index">Especie</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="SubespeciesTbs" asp-action="Index">Subespecie</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;">USUARIOS↓</span>
                </a>
                <ul class="collapse  nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link "> <span class="d-none d-sm-inline" style="font-size: 16px;">Buscar</span>  </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accesion01" asp-action="Index">Agregar Usuario</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ayuda">Ayuda</a>

            </li>
            <li>
                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;">CONTACTO↓</span>
                </a>
                <ul class="collapse  nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                    <li class="w-100">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Medios de comunicacion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>








    <div class="container" >
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>