@model GermoBank.Models.FamiliasTb

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/titulos.css" />
<div style="margin-left:250px; margin-top:50px;">
    <header>FAMILIAS</header>
    <br />
    <h3>Crear</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreFamilia" class="control-label"> Nombre de familia</label>
                    <input asp-for="NombreFamilia" class="form-control" />
                    <span asp-validation-for="NombreFamilia" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-secondary">Volver a lista</a>
                </div>
            </form>
        </div>
    </div>

    <div>
       
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
