@model GermoBank.Models.FamiliasTb

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/titulos.css" />
<div style="margin-left:250px; margin-top:50px;">
    <header>FAMILIAS</header>
    <br />

    <h3>Eliminar</h3>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de familia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFamilia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFamiliaPk" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger " /> |
        <a asp-action="Index" class="btn btn-outline-secondary ">Volver a lista</a>
    </form>
</div>
