@model GermoBank.Models.FamiliasTb

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/titulos.css" />
<div style="margin-left:250px; margin-top:50px;">
    <header>FAMILIAS</header>
    <br />

    <h3>Editar</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFamiliaPk" />
            <div class="form-group">
                <label asp-for="NombreFamilia" class="control-label"> Nombre de Especie</label>
                <input asp-for="NombreFamilia" class="form-control" />
                <span asp-validation-for="NombreFamilia" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">

                    <input type="submit" value="Guardar" class="btn btn-outline-success " />
                    <a asp-action="Index" class="btn btn btn-outline-secondary">Volver a lista</a>

            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
