@model GermoBank.Models.SubespeciesTb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/titulos.css" />
<div style="margin-left:250px; margin-top:50px;">
    <header>Subespecie</header>
    <br />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
           Nombre de subespecie:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSubespecie)
        </dd>
        <dt class = "col-sm-2">
           Especie:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecieFkNavigation.NombreEspecie)
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.IdSubespeciePk" class="btn btn-outline-success ">Editar</a> |
        <a asp-action="Index" class="btn btn-outline-secondary ">Volver a lista</a>
</div>
</div>