@model GermoBank.Models.SubespeciesTb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SubespeciesTb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSubespecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSubespecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecieFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecieFkNavigation.IdEspeciePk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSubespeciePk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
