
@{
    ViewData["Title"] = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


		
<link rel="stylesheet" type="text/css" href="~/css/ayuda.css">

<h1>AYUDA</h1>
<div class="información1">
    <p id="pregunta1" style="text-align:center"> ¿Cómo ingresar una muestra?</p>
    <p id="respuesta1">
        Iniciar sesión con privilegios y dirigirse a la
        sección de ingresar muestra llenando todos los campos.
    </p>
</div>
<div class="información2">
    <p id="pregunta2" style="text-align:center">  ¿Cómo me puedo contactar con Soporte Técnico?</p>
    <p id="respuesta2">
        Se puede comunicar a los número de teléfono
        0968985291 - 0981089934
    </p>
</div>
<div class="información3">
    <p id="pregunta3" style="text-align:center">¿Cómo realizar la búsqueda?</p>
    <p id="respuesta3">
        Se puede realizar desde la sección
        de accesiones o taxonomía.
    </p>
</div>
<div class="información4">
    <p id="pregunta4" style="text-align:center">  ¿Qué es un Banco de Germoplasmas?</p>
    <p id="respuesta4">
        El banco de germoplasma es el lugar creado con
        determinadas condiciones para la conservación del germoplasma.
        Almacenan muestras de variedades tradicionales, productos del
        mejoramiento, variedades fuera de uso y especies silvestres.
    </p>
</div>

