
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/contacto.css">


<h1>CONTACTOS</h1>
<img id="contacto" src="~/img/contacto 1.png" alt="contacto">

<div class="table">
    <label id="nombre">NOMBRE</label>
    <p id="info1">PhD. Tania Sulca <br>PhD. Sania Ortega</p>
</div>
<div class="correo">
    <label id="elec">CORREO ELECTRÓNICO</label>
    <p id="dir">tssulca@utn.edu.ec <br>smortega@utn.edu.ec</p>
</div>
<img id="llamada" src="~/img/celular.png" alt="llamada">

<p id="p1">En caso de dudas<br>Comunícate con nosotros</p>
<p id="p2">1800 77 66 22<br>0968985291-0959568904</p>