
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/contacto.css">










<h1>CONTACTOS</h1>
<img id="contacto" src="~/img/contacto 1.png" alt="contacto">



  <table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
            <td>PhD. Tania Sulcae</td>
            <td>tssulca@utn.edu.ec</td>
    </tr>
    <tr>
      <th scope="row">2</th>
            <td>PhD. Sania Ortega</td>
            <td>smortega@utn.edu.ec</td>
        </tr>
    
  </tbody>
</table>


        
<img id="llamada" src="~/img/celular.png" alt="llamada">

<p id="p1">En caso de dudas<br>Comunícate con nosotros</p>
<p id="p2">1800 77 66 22<br>0968985291-0959568904</p>