@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/bienvenido.css" />


<div style="margin-left:250px; margin-top:50px;">

    <h1>
        Bienvenid@s
    </h1>
    <div style="margin-left:250px;">

        <figure>
            <img id="planta1" src="~/img/gota1.png" alt="planta" style="margin-left:100px;">
        </figure>

        <div class="information" style="margin-left:100px; padding-top:6px;padding-left:3px">
            <p  style="margin:0px; padding:0px;">
                La carrera de Biotecnología de la Universidad Técnica del
                Norte forma profesionales con un enfoque en la creación,
                desarrollo e innovación de productos o servicios por medio
                del uso de herramientas especializadas de biología ,
                ingeniería genética , química y bioquímica para la solución
                de las diferentes problemáticas de la sociedad, industria y
                el medio ambiente.
            </p>
        </div>

    </div>

    <div class="logos">
        <h2>RESPONSABILIDAD</h2>
        <img src="~/img/responsabilidad.png" id="responsabilidad"  alt="responsabilidad">
        <h3>INTEGRIDAD</h3>

        <img id="integridad" src="~/img/integridad.png"  alt="integridad">

        <h4>LIDERAZGO</h4>

        <img id="liderazgo" src="~/img/liderazgo.png"  alt="liderazgo">
    </div>

</div>
