@model GermoBank.Models.ModelsPersonalizados.Accesion02Model;
@{
    ViewData["Title"] = "Accesion02";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Accesion02.css" />


<header class="header2">agregar accesion</header>
<form method="post" action="AgregarAccesion_02">
    <div class="container-main">
        <div class="CONTAINER-2">
            <h1>Propietario</h1>
            <div class="fields">

                <div class="input-field">
                    <div>
                        <label for="codigo_propietario">Codigo propietario: </label>
                        <input type="text"
                               id="codigo_propietario"
                               name="codigo_propietario"
                               placeholder="codigo ropietario"
                               required />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="nombre_propietario">Nombre propietario: </label>
                        <input type="text"
                               id="nombre_propietario"
                               name="nombre_propietario"
                               placeholder="Nombre propietario"
                               required />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="apellido_propietario">Apellido propietario: </label>
                        <input type="text"
                               id="apellido_propietario"
                               name="apellido_propietario"
                               placeholder="Apellido propietario"
                               required />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="telefono_propietario">Telefono: </label>
                        <input type="text"
                               id="telefono_propietario"
                               name="telefono_propietario"
                               placeholder="Phone"
                               required />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="email_propietario">Mail: </label>
                        <input type="text"
                               id="email_propietario"
                               name="email_propietario"
                               placeholder="E-mail" />
                    </div>
                </div>
            </div>
        </div>
        <div class="CONTAINER-3">
            <h1>Propiedad</h1>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="nombre_propiedad">Nombre propiedad: </label>
                        <input type="text"
                               id="nombre_propiedad"
                               name="nombre_propiedad"
                               placeholder="Nombre propietario"
                               required />
                    </div>
                </div>
            </div>
            <h1>Suelo</h1>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="drenaje_suelo"> Drenaje: </label><br />
                        <input type="checkbox"
                               id="drenaje_suelo"
                               name="drenaje_suelo" />
                    </div>

                    <div>
                        <label for="erosion_suelo"> Erosion: </label><br />
                        <input type="checkbox"
                               id="erosion_suelo"
                               name="erosion_suelo" />
                    </div>

                    <div>
                        <label for="pedregosidad_suelo"> Pedregosidad: </label><br />
                        <input type="checkbox"
                               id="pedregosidad_suelo"
                               name="pedregosidad_suelo" />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="codigo_textura">Textura:</label>
                        <select id="codigo_textura"
                                name="codigo_textura"
                                class="form-select form-select-sm">
                            <option value="">--Seleccione una familia--</option>
                            @foreach (var textura in Model.texturasSuelosTbs)
                            {
                                <option value="@textura.IdTexturaSueloPk">
                                    @textura.NombreTexturaSuelo
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="input-field">
                    <div>
                        <label for="color_suelo">Color suelo: </label>
                        <input type="text"
                               id="color_suelo"
                               name="color_suelo"
                               placeholder="Color" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button type="submit">SIGUIENTE</button>
</form>