@model GermoBank.Models.ModelsPersonalizados.Accesion01Model;
@{
    ViewData["Title"] = "Accesion01";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/accesion01.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <header>ingresar accesion</header>
    <form method="post" action="ControllersPersonalizados/Accesion01/AgregarAccesion" >
        <div class="form first">
            <div class="detail personal">
                <div class="fields">
                    <div class="input-field">
                        <label for="familia">Familia:</label>
                        <select id="familia"
                                name="familia"
                                class="form-select form-select-sm danger ">

                            <option value="">--Seleccione una familia--</option>
                            @foreach (var familia in Model.familia)
                            {           
                                <option value="@familia.IdFamiliaPk">
                                    @familia.NombreFamilia
                                </option>
                            }   
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="genero">Genero:</label>
                        <select id="genero" name="genero" class="danger" disabled>

                            <option value="">--Seleccione un genero--</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="details ID">
                <div class="fields">
                    <div class="input-field">
                        <label for="especie">Especie:</label>
                        <select id="especie" name="especie" class="danger" disabled>

                            <option value="">--Seleccione una especie--</option>

                        </select>
                    </div>
                    <div class="input-field">
                        <label for="subespecie">Subespecie:</label>
                        <select id="subespecie" name="subespecie" disabled>

                            <option value="">--Seleccione una subespecie--</option>

                        </select>
                    </div>
                </div>
            </div>


            <div class="izqui">
                <div class="fields">
                    <div>
                        <div class="input-field">
                            <label for="nombre_comun">Nombre Comun: </label>
                            <div>
                                <input type="text"
                                       id="nombre_comun"
                                       name="nombre_comun"
                                       placeholder="Nombre comun"
                                       required />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-field">
                            <label for="fecha_recoleccion">Fecha: </label>
                            <div>
                                <input type="date" id="fecha_recoleccion" name="fecha_recoleccion" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="details2" style="float: right; clear: right">
                <div class="fields">
                    <div class="input-field">
                        <div>
                            <label for="ejemplar_herbario"> Ejemplar hervario: </label>
                            <input type="checkbox" id="ejemplar_herbario" name="ejemplar_herbario" />
                        </div>
                    </div>
                    <br>
                    <div class="input-field">
                        <div>
                            <label for="aislamiento_poblacional"> Aislamiento poblacional: </label>
                            <input type="checkbox" id="aislamiento_poblacional" name="aislamiento_poblacional" />
                        </div>
                    </div>
                    <br>
                    <div class="input-field">
                        <div>
                            <label for="cultivos_vecinos"> Cultivos cercanos: </label>
                            <input type="checkbox" id="cultivos_vecinos" name="cultivos_vecinos" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="submit">
                    <span class="btnText">SIGUIENTE</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    $(function () {
        $("#familia").change(function () {
            var IdFamiliaPk = parseInt($(this).val(), 10);
            console.log("Valor seleccionado en #familia: " + IdFamiliaPk);
            if (IdFamiliaPk) { // verifica si hay un valor seleccionado en el control "familia"
                $("#genero").prop("disabled", false);
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);

                $.ajax({
                    url: 'ControllersPersonalizados/Accesion01/ObtenerGeneosPorFamilia/' + IdFamiliaPk,
                    type: 'GET',
                    success: function (generos) {
                        $("#genero").empty().append("<option value=''>--Seleccione un genero--</option>");
                        $.each(generos, function (i, genero) {
                            $("#genero").append("<option value='" + genero.idGeneroPk + "'>" + genero.nombreGenero + "</option>");
                            console.log(genero.IdGeneroPk);
                            console.log(genero);
                        });
                        console.log(generos);
                    }
                });
            }
            else {
                // deshabilita los controles si no se ha seleccionado una opción válida en "familia"
                $("#genero").prop("disabled", true);
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);
            }
        });


        $("#genero").change(function () {
            var IdGeneroPk = $(this).val();
            if (IdGeneroPk) {
                $("#especie").prop("disabled", false);
                $("#subespecie").prop("disabled", true);

                $.ajax({
                    url: "@Url.Action("ObtenerEspeciesPorGeneros", "Accesion01")",
                    type: "POST",
                    data: { IdGeneroPk: IdGeneroPk },
                    success: function (especies) {
                        $("#especie").empty().append("<option value=''>--Seleccione una especie--</option>");
                        $.each(especies, function (i, especie) {
                            $("#especie").append("<option value='" + especie.idEspeciePk + "'>" + especie.nombreEspecie + "</option>");
                        });
                    }
                });
            }
            else {
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);
            }
        });

        $("#especie").change(function () {
            var IdEspeciePk = $(this).val();
            if (IdEspeciePk) {
                $("#subespecie").prop("disabled", false);

                $.ajax({
                    url: "@Url.Action("ObtenerSubespeciesPorEspecies", "Accesion01")",
                    type: "POST",
                    data: { IdEspeciePk: IdEspeciePk },
                    success: function (subespecies) {
                        $("#subespecie").empty().append("<option value=''>--Seleccione una subespecie--</option>");
                        $.each(subespecies, function (i, subespecie) {
                            $("#subespecie").append("<option value='" + subespecie.idSubespeciePk + "'>" + subespecie.nombreSubespecie + "</option>");
                        });
                    }
                });
            }
            else {
                $("#subespecie").prop("disabled", true);
            }
        });
    });
</script>