@model GermoBank.Models.ModelsPersonalizados.Accesion01Model;
@{
    ViewData["Title"] = "Accesion01";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Accesion01</h1>

<div>
    <label for="familia">Familia:</label>
    <select id="familia" name="familia"class="form-select form-select-sm">
        <option value="">--Seleccione una familia--</option>
        @foreach (var familia in Model.familia)
        {
            <option value="@familia.IdFamiliaPk">@familia.NombreFamilia</option>
        }
    </select>
</div>


<div>
    <label for="genero">Genero:</label>
    <select id="genero" name="genero" disabled>
        <option value="">--Seleccione un genero--</option>
    </select>
</div>

<div>
    <label for="especie">Especie:</label>
    <select id="especie" name="especie" disabled>
        <option value="">--Seleccione una especie--</option>
    </select>
</div>

<div>
    <label for="subespecie">Subespecie:</label>
    <select id="subespecie" name="subespecie" disabled>
        <option value="">--Seleccione una subespecie--</option>
    </select>
</div>

<div>

  <label for="name">Nombre Comun: </label>
  <input type="text" id="name" name="name" placeholder="Nombre comun">
</div>

<div>

  <label for="name">Fecha: </label>
  <input type="date" id="fecha" name="fecha" >
</div>

<div>
    <label for="herbario"> Ejemplar hervario: </label><br>
    <input type="checkbox" id="herbario" name="herbario" >
</div>

<div>
    <label for="aislamiento"> Aislamiento poblacional: </label><br>
    <input type="checkbox" id="aislamiento" name="aislamiento">
</div>


<div>
    <label for="cultivos"> Cultivos cercanos: </label><br>
    <input type="checkbox" id="cultivos" name="cultivos">
</div>






<script>
    $(function () {
        $("#familia").change(function () {
            var IdFamiliaPk = parseInt($(this).val(),10);
            console.log("Valor seleccionado en #familia: " + IdFamiliaPk);
            if (IdFamiliaPk) { // verifica si hay un valor seleccionado en el control "familia"
                $("#genero").prop("disabled", false);
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);

                $.ajax({
                    url: 'ControllersPersonalizados/Accesion01/ObtenerGeneosPorFamilia/' + IdFamiliaPk,
                    type: 'GET',
                    success: function (generos) {
                        $("#genero").empty().append("<option value=''>--Seleccione un genero--</option>");
                        $.each(generos, function (i, genero) {
                            $("#genero").append("<option value='" + genero.idGeneroPk + "'>" + genero.nombreGenero + "</option>");
                            console.log(genero.IdGeneroPk);
                            console.log(genero);
                        });
                        console.log(generos);
                    }
                });
            }
            else {
                // deshabilita los controles si no se ha seleccionado una opción válida en "familia"
                $("#genero").prop("disabled", true);
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);
            }
        });


        $("#genero").change(function () {
            var IdGeneroPk = $(this).val();
            if (IdGeneroPk) {
                $("#especie").prop("disabled", false);
                $("#subespecie").prop("disabled", true);

                $.ajax({
                    url: "@Url.Action("ObtenerEspeciesPorGeneros", "Accesion01")",
                    type: "POST",
                    data: { IdGeneroPk: IdGeneroPk },
                    success: function (especies) {
                        $("#especie").empty().append("<option value=''>--Seleccione una especie--</option>");
                        $.each(especies, function (i, especie) {
                            $("#especie").append("<option value='" + especie.idEspeciePk + "'>" + especie.nombreEspecie + "</option>");
                        });
                    }
                });
            }
            else {
                $("#especie").prop("disabled", true);
                $("#subespecie").prop("disabled", true);
            }
        });

        $("#especie").change(function () {
            var IdEspeciePk = $(this).val();
            if (IdEspeciePk) {
                $("#subespecie").prop("disabled", false);

                $.ajax({
                    url: "@Url.Action("ObtenerSubespeciesPorEspecies", "Accesion01")",
                    type: "POST",
                    data: { IdEspeciePk: IdEspeciePk },
                    success: function (subespecies) {
                        $("#subespecie").empty().append("<option value=''>--Seleccione una subespecie--</option>");
                        $.each(subespecies, function (i, subespecie) {
                            $("#subespecie").append("<option value='" + subespecie.idSubespeciePk + "'>" + subespecie.nombreSubespecie + "</option>");
                        });
                    }
                });
            }
            else {
                $("#subespecie").prop("disabled", true);
            }
        });
    });
</script>
