@model GermoBank.Models.GenerosTb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/titulos.css" />
<div style="margin-left:250px; margin-top:50px;">
    <header>Género</header>
    <br />

    <h3>Detalles</h3>
    <hr />
<div>
    <h4>GenerosTb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de género
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreGenero)
        </dd>
        <dt class = "col-sm-2">
            Nombre de Familia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFamiliaFkNavigation.NombreFamilia)
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.IdGeneroPk" class="btn btn-outline-success ">Editar</a> |
        <a asp-action="Index" class="btn btn-outline-secondary ">Volver a lista</a>
    </div>
</div>